<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FetchImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3048443F1F0BF5F60018C64D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304844531F0BF5F70018C64D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3048445E1F0BF5F70018C64D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
